
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Штат Django</title>
    <!--<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">-->
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">


</head>
<body>
    <!-- main menu-->
    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="realEstateMenu">
      <div class="top-bar-left">
        <ul class="menu">
          <!--<li class="menu-text">Interplanetary</li> -->
          <li><a href="table/">Штатка 4БО</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">My Account</a></li>
          <li><a class="button">Login</a></li>
        </ul>
      </div>
    </div>

    <div>{% block content%}{% endblock content %}</div>

</body>
</html>