{% extends "index.html" %}
{% block content%}
<a class="button small expanded" >Штатка </a>

{# shtatapp/templates/main_table.html #}
{% load render_table from django_tables2 %}

        {% render_table table %}

{% endblock content %}



<!--{# shtatapp/templates/main_table.html #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
        {% render_table table %}
    </body>
</html> -->